<div class="blockcontent">

  <div class="jumbotron">
    <div class="container">
      <h1>Use Twitter to tell your story.</h1>
      <p>Welcome to Recode Customer Care. We make sure your issues and complaints get heard. Just #hashtag your tweets and leave the rest to us!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Company XYZ really disappointed on that last delivery. I ordered five and got one, BUT got charged for 12! <a href="https://twitter.com/hashtag/xyzsucks?src=hash">#xyzsucks</a></p>&mdash; Gbolahan (@allengblack) <a href="https://twitter.com/allengblack/status/845674293560315904">March 25, 2017</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Company XYZ really disappointed on that last delivery. I ordered five and got one, BUT got charged for 12! <a href="https://twitter.com/hashtag/xyzsucks?src=hash">#xyzsucks</a></p>&mdash; Gbolahan (@allengblack) <a href="https://twitter.com/allengblack/status/845674293560315904">March 25, 2017</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>